* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --textColor: #3d455c;
  --primaryColor: #f3463d;
}

body {
  background-color: #FFF5EC;
  font-family: 'Nunito', sans-serif;
}

/* ************Header************ */
.all-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.logo-img {
  width: 5%;
  margin-top: 20px;
}
@media screen and (max-width: 500px) {
  .logo-img {
    width: 10%;
    margin: 18px 0;
  }
}
.logo-img img {
  width: 100%;
}
.nav {
  width: 50%;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav li {
  list-style: none;
  color: var(--textColor);
  font-weight: bold;
  font-size: 18px;
}

/************* Hero Section *************/
.hero-section {
  display: flex;
  align-items: center;
  width: 80%;
  position: relative;
  padding: 80px 0 55px;
  margin: 50px 0;
}
.hero-heading {
  font-size: 3.5rem;
  color: var(--textColor);
  font-family: sans-serif;
  margin-bottom: 38px;
}
.hero-heading span {
  font-weight: 500;
}
.hero-btn {
  border-radius: 15px 50px 15px 15px;
  background-color: var(--primaryColor);
  color: #fff;
  transition: all 0.4s ease-in-out;
  padding: 10px 38px;
  text-decoration: none;
}
.hero-btn:hover {
  background-color: #d6271d;
}
.bg-color {
  background-color: #f3463d;
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: -1;
  right: -55px;
  top: 0;
}
.image-side {
  width: 70%;
}
.image-side img {
  width: 100%;
}
.bg-color::after {
  background-image: url(../images/pattern1.png);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  opacity: 0.1;
}
@media screen and (max-width: 1100px) {
  .hero-heading {
    font-size: 2.5rem;
  }
  .image-side {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .hero-section {
    flex-direction: column;
    padding-bottom: 0;
  }
  .hero-heading {
    font-size: 2rem;
  }
  .text-side {
    margin-bottom: 50px;
    text-align: center;
  }
  .bg-color {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .hero-heading {
    font-size: 1.5rem;
  }
}
/* ********Main***************** */

main {
  padding: 15px;
  width: 80%;
}

.title {
  color: var(--primaryColor);
  padding: 10px;
  text-transform: capitalize;
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 17px;
  }
}
.search-form {
  display: flex;
}
.food-input {
  width: 100%;
  height: 6vh;
  border-radius: 15px 50px 15px 15px;
  border: none;
  padding: 10px;
  box-shadow: 0px 1px 5px -1px #f3463d45;
  font-size: 15px;
}
.food-input:focus {
  border: 1px solid #f3463d61;
}
.food-input::placeholder {
  color: #92959b;
}
.search-btn {
  height: 6vh;
  width: 15%;
  border: none;
  border-radius: 15px 15px 15px 50px;
  background-color: var(--primaryColor);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.search-btn:hover {
  background-color: #d6271d;
}
@media screen and (max-width: 500px) {
  .search-btn {
    font-size: 12px;
}
}
@media (max-width: 600px) {
  .nav {
    width: 100%;
  }
  .nav li {
    font-size: 14px;
  }
  .search-btn {
    width: 28%;
  }
}

/* ************* Cards ***************** */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 40px 0;
}
.card {
  width: 27%;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 50px;
}
@media screen and (max-width: 900px) {
  .card {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
.card .img-container img {
  width: 100%;
}
.details-container {
  padding: 14px 22px;
  position: relative;
}
.details-container .card-name {
  color: var(--textColor);
  font-weight: 900;
  margin-bottom: 8px;
}
.details-container .card-category {
  color: var(--primaryColor);
  font-size: 15px;
}
.details-container .card-recipe {
  font-size: 14px;
  color: #464646;
  border-top: 1px solid #f3463d;
  padding-top: 14px;
  margin-top: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 299px;
  padding-right: 20px;
  text-align: justify;
}
.details-container .card-video {
  position: absolute;
  top: 15px;
  right: 30px;
}
.details-container .card-video i {
  font-size: 24px;
  color: #ff0000;
}
/**** Scrollbar Style ****/
.card-recipe::-webkit-scrollbar {
  width: 0.5em;
}

.card-recipe::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card-recipe::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 20px;
}
